
# <div class="btn-group" role="group">
#     <% @globalApi.each do |gApi| %>
#         <% if gApi.active %>
#             <%= form_with(model: [ @user, @user.myapis.build ], local: true, xhr: true) do |form| %>
#                 <%= form.hidden_field :name, value:gApi.name%>
#                 <%= form.hidden_field :url, value:gApi.url%>
#                 <%= form.hidden_field :api, value: gApi.api %>
#                 <%= form.submit gApi.name.humanize, class:"btn btn-secondary api"%>
#             <% end %>
#         <% end %>
#     <% end %>
# </div>
# <h3><strong>My APIs</strong></h3><hr/>
# <div id="api"></div>
# <div class="p-b-40">
#     <table class="table table-striped table-hover">
#         <% if @user.myapis.any? %>
#             <% @user.myapis.each do |api| %>
#                 <%= api.name %>
#             <% end %>
#         <% end %>
#     </table>
# </div>
# <script>
# document.getElemetsByTagName()