<%= form_for(resource, as: resource_name, url: session_path(resource_name), :validate => true, :html => {:class => 'login-form '}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <span class="login-form-title p-b-40">
      Login
    </span>
    
    <div class="m-b-15">
      <span class="focus-label"><%= f.label :username %></span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-addon"><span class="fa fa-user"></span></span>
        </div>
        <%= f.text_field :username,  validate: { presence: true }, placeholder:"Type your username",class:"form-control" %>
      </div>
    </div>

    <div class="m-b-15">
      <span class="focus-label"><%= f.label :password %></span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        </div>
        <%= f.password_field :password, validate: { presence: true }, placeholder:"Type your password",class:"form-control"  %>
      </div>
    </div>
    

    <div class="container-login-form-btn">
      <div class="wrap-login-form-btn">
        <div class="login-form-bgbtn">
        <%= f.submit value: "Login", class:"btn btn-primary login-form-btn", data: { disable_with: false } %>
        <%= f.validate %>
        </div>
    </div>
<% end %>
